{{#if customer}}
<form class="add-food">
    {{#each customer}}
    <h1>{{customer_name}}</h1>
    <input type="submit" class="add" data-customer_id="{{id}}">
    {{/each}}
    <select id="food">
        {{#each order}}
        <option value="{{id}}">{{order_name}}</option>
        {{/each}}
    </select>
</form>
<a href="/">[Go Back]</a>

<hr>

Items that have been ordered: <br>
{{#each customer}}
{{order_name}}
{{/each}}



{{else}}
<h1>Email not found</h1>
<form class="search-customer">
    <label for="">Search: </label> <br>
    <input type="text" class="customer_email">
    <input type="submit">
</form>
<a href="/">[Go Back]</a>
{{/if}}

<div class="favorite-food">
    <p>Customer's most ordered item is</p>
    {{favorite_food}}
</div>

<script>
    $(".add-food").on("submit", function (event) {
        var customer_id = $(".add").data("customer_id");
        var order_id = $("#food").val().trim();
        var newOrder = {
            CustomerId: customer_id,
            OrderId: order_id
        };
        $.ajax("/api/customer", {
            type: "PUT",
            data: newOrder
        }).then(function () {
            window.location.href = "/";
        })
    });

    $(".search-customer").on("submit", function (event) {
        // This is if we want to get the "ID" instead of their customer name
        // var customer_id = $(this).data("id");
        // window.location.href = "/customer/" + customer_id;
        var customerEmail = $(".customer_email").val();
        window.location.href = "/customer/" + customerEmail;
        return false;
    });
</script>