{{!-- This page has two possible outcomes, 
the first being if the customer email was found --}}
{{#if customer}}
<form class="add-food">
    {{#each customer}}
    <h1>{{customer_name}}</h1>

    <input 
    onclick="window.location='/'" type="submit" class="add" data-customer_id="{{id}}">
    {{/each}}
    <select id="food">
        {{#each order}}
        <option value="{{id}}">{{order_name}}</option>
        {{/each}}
    </select>
</form>


<a href="/">[Go Back]</a>


{{!-- This being if the email was not found --}}
{{else}}
<h1>Email not found</h1>
<form class="search-customer">
    <label for="">Search: </label> <br>
    <input type="text" class="customer_email">
    <input type="submit">
</form>
<a href="/">[Go Back]</a>
{{/if}}


{{!-- This is the customers favorite food item --}}
<div class="favorite-food">
    <p>Customer's most ordered item is</p>
    {{favorite_food}}
</div>


<script>
    // This is when the "submit" button is clicked with the food,
    // you should be redirected back to the home page
    $(".add-food").on("submit", function (event) {
        event.preventDefault();

        var customer_id = $(".add").data("customer_id");
        var order_id = $("#food").val().trim();
        var newOrder = {
            CustomerId: customer_id,
            OrderId: order_id
        };
        $.ajax("/api/customer", {
            type: "PUT",
            data: newOrder
        }).then(function () {
            // alert("hello");
            window.location.href = "/";
        })
    });

    // This is for when the email is not found so the user must
    // input another valid one in order to move onto the next page
    $(".search-customer").on("submit", function (event) {
        var customerEmail = $(".customer_email").val();
        window.location.href = "/customer/" + customerEmail;
        return false;
    });
</script>