  <!doctype html>
{{!-- <html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr"> --}}

<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="http://use.fontawesome.com/release/v5.9.8/js/all.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <title>Customer Recognition App</title>
</head>

<body>  
    
    
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                </button>
                <a class="navbar-brand font-weight-bold float-left" href="?#">Customer Recognition App</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            </div>
        </div>
    </nav>


<div class="container">
<div class="row">
    <div class="column">

    </div>
</div>

</div>
{{!-- This page has two possible outcomes, 
the first being if the customer email was found --}}
{{#if customer}}
<form class="add-food">
    {{#each customer}}
    <h1>{{customer_name}}</h1>

    <input 
    onclick="window.location='/'" type="submit" class="add" data-customer_id="{{id}}">
    {{/each}}
    <select id="food">
        {{#each order}}
        <option value="{{id}}">{{order_name}}</option>
        {{/each}}
    </select>
</form>


<a href="/">[Go Back]</a>


{{!-- This being if the email was not found --}}
{{else}}
<h1>Email not found</h1>
<form class="search-customer">
    <label for="">Search: </label> <br>
    <input type="text" class="customer_email">
    <input type="submit">
</form>
<a href="/">[Go Back]</a>
{{/if}}


{{!-- This is the customers favorite food item --}}
<div class="favorite-food">
    <p>Customer's most ordered item is:</p>
Amount: {{quantity}} <br>
Food Item: {{favorite_food}} 
</div>














<script>
    // This is when the "submit" button is clicked with the food,
    // you should be redirected back to the home page
    $(".add-food").on("submit", function (event) {
        event.preventDefault();

        var customer_id = $(".add").data("customer_id");
        var order_id = $("#food").val().trim();
        var newOrder = {
            CustomerId: customer_id,
            OrderId: order_id
        };
        $.ajax("/api/customer", {
            type: "PUT",
            data: newOrder
        }).then(function () {
            //alert("hello");
            window.location.href = "/";
        })
    });

    // This is for when the email is not found so the user must
    // input another valid one in order to move onto the next page
    $(".search-customer").on("submit", function (event) {
        var customerEmail = $(".customer_email").val();
        window.location.href = "/customer/" + customerEmail;
        return false;
    });
</script>