<h1>Customer</h1>

<div class="customer">
</div>
<div class="favorite">
</div>

<ul>
  {{#each customer}}
  {{customer_name}} <input class="view-customer" type="submit" data-name="{{customer_name}}"
    data-orders="{{customer_purchases}}" value="View Customer"> <br>
  {{/each}}

</ul>

<form class="add-food">
  <select id="food">
    {{#each order}}
    <option value="{{id}}">{{order_name}}</option>
    {{/each}}
  </select>
  <button type="submit">Add Food</button>
</form>

<script>
  var food = [];
  $(document).ready(function () {
    $(".view-customer").click(function (event) {
      $(".customer").html("<strong>Customer:</strong> <br>" + $(this).data("name"));
      $(".favorite").html("<strong>Favorite Food(s):</strong> <br>" + $(this).data("orders"));
    });
    $(".add-food").on("submit", function (event) {
      event.preventDefault();
      var newOrder = {
        CustomerId: 1,
        OrderId: $("#food").val().trim()
      };
      $.ajax("/api/customer", {
        type: "POST",
        data: newOrder
      }).then(function () {
        location.reload();
      })
    })
  });
</script>